<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.heading }}</h1>
<h5>{{ post.post_date.date|date:'d M Y'}}</h5>
<h2>{{ post.author.user.username }}</h2>
<h3>{{ post.text }}</h3>
<h4>{{ post.rating }}</h4>
{% endblock content %}